# MinIO root credentials (change with your own before deploying)
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# MinIO endpoint
MINIO_ENDPOINT=localhost
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Used by scripts (mc client alias)
MINIO_ALIAS=local
